<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>FlightCrew</name>
<type>validation</type>
<author>KevinH</author>
<description>Use FlightCrew to Validate epub2 ebooks</description>
<engine>python2.7</engine>
<engine>python3.4</engine>
<version>0.9.2</version>
<autostart>true</autostart>
<autoclose>true</autoclose>
<oslist>osx</oslist>
</plugin>
