@font-face {
  font-family: "Fontin";
  font-weight: normal;
  font-style: normal;
  /* The space between the src and the colon is intentional and part of a test! */
  src : url(../font1.ttf);
}

@font-face {
  font-family: "Fontin";
  font-weight: bold;
  font-style: normal;
  src: url(../font2.ttf);
}

@font-face {
  font-family: "Fontin";
  font-weight: normal;
  font-style: italic;
  src: url(../font3.ttf);
} 

body {
  background-image: url('../background2.gif');  
  background: #eee;        /* This needs to be ignored, it's not a path. */
  background-image: none;  /* This as well. */
  background: black url("../background1.gif") gray 50% repeat fixed;
}
